- return unless can?(current_user, :read_pod_logs, @project)
- return unless project_nav_tab?(:environments)

= nav_link(controller: :logs, action: [:index]) do
  = link_to project_logs_path(@project), title: _('Logs') do
    %span
      = _('Logs')
